<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="helloWorld.mapper.SearchAliasContactIndexMapper">
  <resultMap id="BaseResultMap" type="helloWorld.bean.SearchAliasContactIndex">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="alias_Id" jdbcType="INTEGER" property="aliasId" />
    <result column="index_Id" jdbcType="INTEGER" property="indexId" />
    <result column="c_u" jdbcType="VARCHAR" property="cU" />
    <result column="c_t" jdbcType="BIGINT" property="cT" />
    <result column="u_u" jdbcType="VARCHAR" property="uU" />
    <result column="u_t" jdbcType="BIGINT" property="uT" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, alias_Id, index_Id, c_u, c_t, u_u, u_t, is_deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from search_alias_contact_index
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from search_alias_contact_index
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="helloWorld.bean.SearchAliasContactIndex">
    insert into search_alias_contact_index (id, alias_Id, index_Id, 
      c_u, c_t, u_u, u_t, 
      is_deleted)
    values (#{id,jdbcType=INTEGER}, #{aliasId,jdbcType=INTEGER}, #{indexId,jdbcType=INTEGER}, 
      #{cU,jdbcType=VARCHAR}, #{cT,jdbcType=BIGINT}, #{uU,jdbcType=VARCHAR}, #{uT,jdbcType=BIGINT}, 
      #{isDeleted,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="helloWorld.bean.SearchAliasContactIndex">
    insert into search_alias_contact_index
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="aliasId != null">
        alias_Id,
      </if>
      <if test="indexId != null">
        index_Id,
      </if>
      <if test="cU != null">
        c_u,
      </if>
      <if test="cT != null">
        c_t,
      </if>
      <if test="uU != null">
        u_u,
      </if>
      <if test="uT != null">
        u_t,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="aliasId != null">
        #{aliasId,jdbcType=INTEGER},
      </if>
      <if test="indexId != null">
        #{indexId,jdbcType=INTEGER},
      </if>
      <if test="cU != null">
        #{cU,jdbcType=VARCHAR},
      </if>
      <if test="cT != null">
        #{cT,jdbcType=BIGINT},
      </if>
      <if test="uU != null">
        #{uU,jdbcType=VARCHAR},
      </if>
      <if test="uT != null">
        #{uT,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="helloWorld.bean.SearchAliasContactIndex">
    update search_alias_contact_index
    <set>
      <if test="aliasId != null">
        alias_Id = #{aliasId,jdbcType=INTEGER},
      </if>
      <if test="indexId != null">
        index_Id = #{indexId,jdbcType=INTEGER},
      </if>
      <if test="cU != null">
        c_u = #{cU,jdbcType=VARCHAR},
      </if>
      <if test="cT != null">
        c_t = #{cT,jdbcType=BIGINT},
      </if>
      <if test="uU != null">
        u_u = #{uU,jdbcType=VARCHAR},
      </if>
      <if test="uT != null">
        u_t = #{uT,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="helloWorld.bean.SearchAliasContactIndex">
    update search_alias_contact_index
    set alias_Id = #{aliasId,jdbcType=INTEGER},
      index_Id = #{indexId,jdbcType=INTEGER},
      c_u = #{cU,jdbcType=VARCHAR},
      c_t = #{cT,jdbcType=BIGINT},
      u_u = #{uU,jdbcType=VARCHAR},
      u_t = #{uT,jdbcType=BIGINT},
      is_deleted = #{isDeleted,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="helloWorld.bean.SearchAliasContactIndex">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="alias_Id" jdbcType="INTEGER" property="aliasId" />
    <result column="index_Id" jdbcType="INTEGER" property="indexId" />
    <result column="c_u" jdbcType="VARCHAR" property="cU" />
    <result column="c_t" jdbcType="BIGINT" property="cT" />
    <result column="u_u" jdbcType="VARCHAR" property="uU" />
    <result column="u_t" jdbcType="BIGINT" property="uT" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, alias_Id, index_Id, c_u, c_t, u_u, u_t, is_deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from search_alias_contact_index
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from search_alias_contact_index
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="helloWorld.bean.SearchAliasContactIndex">
    insert into search_alias_contact_index (id, alias_Id, index_Id, 
      c_u, c_t, u_u, u_t, 
      is_deleted)
    values (#{id,jdbcType=INTEGER}, #{aliasId,jdbcType=INTEGER}, #{indexId,jdbcType=INTEGER}, 
      #{cU,jdbcType=VARCHAR}, #{cT,jdbcType=BIGINT}, #{uU,jdbcType=VARCHAR}, #{uT,jdbcType=BIGINT}, 
      #{isDeleted,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="helloWorld.bean.SearchAliasContactIndex">
    insert into search_alias_contact_index
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="aliasId != null">
        alias_Id,
      </if>
      <if test="indexId != null">
        index_Id,
      </if>
      <if test="cU != null">
        c_u,
      </if>
      <if test="cT != null">
        c_t,
      </if>
      <if test="uU != null">
        u_u,
      </if>
      <if test="uT != null">
        u_t,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="aliasId != null">
        #{aliasId,jdbcType=INTEGER},
      </if>
      <if test="indexId != null">
        #{indexId,jdbcType=INTEGER},
      </if>
      <if test="cU != null">
        #{cU,jdbcType=VARCHAR},
      </if>
      <if test="cT != null">
        #{cT,jdbcType=BIGINT},
      </if>
      <if test="uU != null">
        #{uU,jdbcType=VARCHAR},
      </if>
      <if test="uT != null">
        #{uT,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="helloWorld.bean.SearchAliasContactIndex">
    update search_alias_contact_index
    <set>
      <if test="aliasId != null">
        alias_Id = #{aliasId,jdbcType=INTEGER},
      </if>
      <if test="indexId != null">
        index_Id = #{indexId,jdbcType=INTEGER},
      </if>
      <if test="cU != null">
        c_u = #{cU,jdbcType=VARCHAR},
      </if>
      <if test="cT != null">
        c_t = #{cT,jdbcType=BIGINT},
      </if>
      <if test="uU != null">
        u_u = #{uU,jdbcType=VARCHAR},
      </if>
      <if test="uT != null">
        u_t = #{uT,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="helloWorld.bean.SearchAliasContactIndex">
    update search_alias_contact_index
    set alias_Id = #{aliasId,jdbcType=INTEGER},
      index_Id = #{indexId,jdbcType=INTEGER},
      c_u = #{cU,jdbcType=VARCHAR},
      c_t = #{cT,jdbcType=BIGINT},
      u_u = #{uU,jdbcType=VARCHAR},
      u_t = #{uT,jdbcType=BIGINT},
      is_deleted = #{isDeleted,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="helloWorld.bean.SearchAliasContactIndex">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="alias_Id" jdbcType="INTEGER" property="aliasId" />
    <result column="index_Id" jdbcType="INTEGER" property="indexId" />
    <result column="c_u" jdbcType="VARCHAR" property="cU" />
    <result column="c_t" jdbcType="BIGINT" property="cT" />
    <result column="u_u" jdbcType="VARCHAR" property="uU" />
    <result column="u_t" jdbcType="BIGINT" property="uT" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, alias_Id, index_Id, c_u, c_t, u_u, u_t, is_deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from search_alias_contact_index
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from search_alias_contact_index
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="helloWorld.bean.SearchAliasContactIndex">
    insert into search_alias_contact_index (id, alias_Id, index_Id, 
      c_u, c_t, u_u, u_t, 
      is_deleted)
    values (#{id,jdbcType=INTEGER}, #{aliasId,jdbcType=INTEGER}, #{indexId,jdbcType=INTEGER}, 
      #{cU,jdbcType=VARCHAR}, #{cT,jdbcType=BIGINT}, #{uU,jdbcType=VARCHAR}, #{uT,jdbcType=BIGINT}, 
      #{isDeleted,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="helloWorld.bean.SearchAliasContactIndex">
    insert into search_alias_contact_index
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="aliasId != null">
        alias_Id,
      </if>
      <if test="indexId != null">
        index_Id,
      </if>
      <if test="cU != null">
        c_u,
      </if>
      <if test="cT != null">
        c_t,
      </if>
      <if test="uU != null">
        u_u,
      </if>
      <if test="uT != null">
        u_t,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="aliasId != null">
        #{aliasId,jdbcType=INTEGER},
      </if>
      <if test="indexId != null">
        #{indexId,jdbcType=INTEGER},
      </if>
      <if test="cU != null">
        #{cU,jdbcType=VARCHAR},
      </if>
      <if test="cT != null">
        #{cT,jdbcType=BIGINT},
      </if>
      <if test="uU != null">
        #{uU,jdbcType=VARCHAR},
      </if>
      <if test="uT != null">
        #{uT,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="helloWorld.bean.SearchAliasContactIndex">
    update search_alias_contact_index
    <set>
      <if test="aliasId != null">
        alias_Id = #{aliasId,jdbcType=INTEGER},
      </if>
      <if test="indexId != null">
        index_Id = #{indexId,jdbcType=INTEGER},
      </if>
      <if test="cU != null">
        c_u = #{cU,jdbcType=VARCHAR},
      </if>
      <if test="cT != null">
        c_t = #{cT,jdbcType=BIGINT},
      </if>
      <if test="uU != null">
        u_u = #{uU,jdbcType=VARCHAR},
      </if>
      <if test="uT != null">
        u_t = #{uT,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="helloWorld.bean.SearchAliasContactIndex">
    update search_alias_contact_index
    set alias_Id = #{aliasId,jdbcType=INTEGER},
      index_Id = #{indexId,jdbcType=INTEGER},
      c_u = #{cU,jdbcType=VARCHAR},
      c_t = #{cT,jdbcType=BIGINT},
      u_u = #{uU,jdbcType=VARCHAR},
      u_t = #{uT,jdbcType=BIGINT},
      is_deleted = #{isDeleted,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>