

a {
    text-decoration: none;
    color: #333
}

a:hover {
    text-decoration: underline
}

.ly_box {
    display: -webkit-box;
    display: flex
}

.ly_box.ly_box_column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column
}

.login {
    font-size: 0;
    text-align: center
}

.login:after, .login .valign_after {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 0;
    height: 100%;
    vertical-align: middle
}

.login:after {
    content: ''
}

.login .valign_wrap {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    font-size: 14px
}

.login .login_pop {
    margin-top: -120px;
    text-align: left;
    box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.1)
}

.login .login_pop_inner {
    position: relative;
    padding: 40px;
    width: 380px;
    height: 400px;
    background: #fff;
    border-radius: 4px
}

.login .login_pop_inner.login_withpc:before, .login .login_pop_inner.login_withpc .login_withpc_logo {
    content: '';
    display: block;
    margin: 0 auto;
    width: 155px;
    height: 0px;
}

.login .login_pop_inner.login_withqrc {
    display: none;
    text-align: center;
    color: #808080
}

.login .login_pop.withqrc .login_withpc {
    display: none
}

.login .login_pop.withqrc .login_withqrc {
    display: block
}

.login .login_form_row {
    border: 0
}

.login .login_form_row.account .login_form_label, .login .login_form_row.password .login_form_label {
    *zoom: 1;
    display: block;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    overflow: hidden
}

.login .login_form_row.account .login_form_label:before, .login .login_form_row.account .login_form_label:after, .login .login_form_row.password .login_form_label:before, .login .login_form_row.password .login_form_label:after {
    content: " ";
    display: table
}

.login .login_form_row.account .login_form_label:after, .login .login_form_row.password .login_form_label:after {
    clear: both
}

.login .login_form_row.account .login_form_icon, .login .login_form_row.password .login_form_icon {
    float: left;
    width: 38px;
    height: 38px
}

.login .login_form_row.account .login_form_inp, .login .login_form_row.password .login_form_inp {
    margin-left: 38px;
    *margin-left: 0;
    *height: 38px
}

.login .login_form_row.account .login_form_inp_input, .login .login_form_row.password .login_form_inp_input {
    box-sizing: border-box;
    display: block;
    padding: 10px 0;
    width: 259px;
    height: 38px;
    *float: left;
    *height: 18px;
    font-size: 12px;
    line-height: 18px;
    border: 0;
    outline: 0;
    color: #333;
    -webkit-appearance: none
}

.login .login_form_row.account .login_form_inp_input:-webkit-autofill, .login .login_form_row.password .login_form_inp_input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset
}

.login .login_form_row.account.warn .login_form_label, .login .login_form_row.password.warn .login_form_label {
    border-color: #f94f3f
}

.login .login_form_row.account.focus .login_form_label, .login .login_form_row.password.focus .login_form_label {
    border-color: #0091ff
}

.login .login_form_row.findback {
    text-align: right
}

.login .login_form_row.findback a {
    font-size: 12px;
    line-height: 1;
    color: #0091ff
}

.login .login_form_row.formsubmit .formsubmit_btn {
    display: block;
    width: 100%;
    height: 40px;
    font-family: \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, "Hiragino Sans GB", STHeiti, "WenQuanYi Micro Hei", "Droid Sans Fallback", SimSun, sans-serif;
    font-size: 16px;
    color: #fff;
    background: #f94f3f;
    border: 0;
    outline: 0;
    border-radius: 4px;
    cursor: pointer
}

.login .login_form_row.formsubmit .formsubmit_btn:hover {
    background: #e93536
}

.login .login_form_row.warntip {
    font-size: 12px;
    color: #f94f3f;
    text-align: center
}

.login .login_form_row.warntip .warntip_icon {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-right: 7px;
    width: 16px;
    height: 16px;
}

[data-dpr="2"] .login .login_form_row.warntip .warntip_icon {
    background-size: 100%
}

.login .login_form_row.warntip .warntip_text {
    white-space: nowrap;
    word-wrap: normal
}

.login .login_form_row.warntip .warntip_icon, .login .login_form_row.warntip .warntip_text {
    vertical-align: middle
}

.login .login_form_row.account {
    margin-top: 40px
}

.login .login_form_row.password {
    margin-top: 20px
}

.login .login_form_row.findback, .login .login_form_row.formsubmit {
    margin-top: 14px
}

.login .login_form_row.warntip {
    margin-top: 30px
}




